* {
  padding: 0;
  margin: 0;
  box-shadow: none;
}

body {
  align-content: center;
  justify-content: center;
  background-color: rgb(202, 175, 206);

  height: 100%;
  width: 100%;
}

body .body-container {
  height: 100vh;
  max-width: 57rem;
  margin-block: 35%;
  margin-inline: 20%;
  overflow: hidden;
  border-radius: 12px;
}

body .body-container .header {
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 4%;
  background-color: mediumpurple;
}

body .body-container .header .header-text {
  width: fit-content;
  block-size: fit-content;
  border: none;
  color: whitesmoke;
}

body .body-container .main {
  display: grid;
  align-content: center;
  justify-content: center;

  padding-block: 2rem;
  background-color: blueviolet;
}

body .body-container .main .form {
  display: grid;
  grid-template-rows: 1fp 1fp 1fp 1fp 1fp 1fp;
  grid-template-columns: 1fp;
  flex-direction: column;
  gap: 1rem;
}

body .body-container .main .form .tooltip {
  position: relative;
}

/* Not working with full path here */
.main .form .tooltip .tooltip-text {
  display: none;
  visibility: hidden;
  width: 13rem;
  background-color: red;
  color: whitesmoke;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  right: -13em;
  z-index: 2;
}

body .body-container .main .form .tooltip .show-error {
  outline: none;
  box-shadow: 0px 0px 5px red; /*here change the color*/
  border: 1px solid red; /*here change the color*/
}

body .body-container .main .form .field-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

body .body-container .main .form .tooltip.field-container .input-label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 6rem;
  color: whitesmoke;
  box-shadow: none;
}

body .body-container .main .form .tooltip.field-container .text-input {
  height: 2rem;
  width: 12rem;
  text-align: center;

  border-radius: 8px;
  color: black;
}

body
  .body-container
  .main
  .form
  .tooltip:hover.field-container
  .tooltip-text.tooltip-show {
  display: inline;
  visibility: visible;
}

body
  .body-container
  .main
  .form
  .tooltip:hover.field-container
  .tooltip-text
  .tooltip-line {
  outline: none;
  /*box-shadow: 0px 0px 5px whitesmoke;*/ /*here change the color*/
  border-block: 1px solid whitesmoke; /*here change the color*/
  border-radius: 0;
  margin-block: 0.3rem;
  padding: 0.2rem;
}

body .body-container .main .form .submit-container {
  display: grid;
  justify-content: center;
  align-content: center;

  margin-top: 1rem;

  /* display: flex;
  align-content: center;
  justify-content: center; */
}

body .body-container .main .form .submit-container .submit {
  height: 3rem;
  width: 5rem;
  border-radius: 8px;
}

/* When submit button is disabled */
body .body-container .main .form .submit-container .submit:disabled {
  background-color: gray;
  color: black;
}

/* When submit button is enabled */
body .body-container .main .form .submit-container .submit:not(:disabled) {
  background-color: green;
  color: whitesmoke;
  cursor: pointer;
}

body .body-container .footer {
  display: grid;
  align-content: center;
  justify-content: center;

  padding: 8%;
  background-color: mediumpurple;
}

/* Something to look at */
/* filter-2 {
  outline: none; */
/*box-shadow: 0px 0px 5px whitesmoke;*/ /*here change the color*/
/*border: 1px solid whitesmoke;*/ /*here change the color*/
/* border-radius: 0;
} */
